.profile{
    margin: 20px;
    display:flex;
    flex-direction: column;
    gap:30px;
 
 }
 
 .profile_top {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
 }
 
 .profile_top img{
    width: 80px;
 }
 
 .profile_top p{
    font-size: 25px;
 }
 
 h2 {
    font-size: 20px;
 }
 .count_overview {
    display:flex;
    flex-direction: row;
    gap: 15px;
 }
 
 .count_widget {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border: 1px black solid;
    padding: 5px 15px;
    border-radius: 15px;
 
 }
 
 .count_widget img {
    width: 40px;
 
 }
 
 .count_widget count{
    font-size: 20px
 
 
 }
 